.my-class{
  background-color: red;
}
@for $i from 1 through 3 {
  .m-l-#{$i} { margin-left: 8px * $i !important;}
  .m-t-#{$i} { margin-top: 8px * $i !important;}
  .m-r-#{$i} { margin-right: 8px * $i !important;}
  .m-b-#{$i} { margin-bottom: 8px * $i !important;}
}
